# Network RPC endpoints
ETHEREUM_RPC="https://eth-mainnet.g.alchemy.com/v2/YOUR-API-KEY"
BASE_RPC="https://base-mainnet.g.alchemy.com/v2/YOUR-API-KEY"

# MongoDB configuration
MONGO_URI="mongodb://username:password@host:port/database"
DATABASE_NAME_1=detrade-core-eth   
COLLECTION_NAME=oracle

# Production Address
PRODUCTION_ADDRESS=0x...