# Secrets et environnement
.env
*.env
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
.env.local
venv/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
jspm_packages/
.npm
.yarn/
.yarn-integrity
.pnp.*
.npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz

# IDEs
.idea/
.vscode/
.vscode-test
*.swp
*.swo
*~

# Système
.DS_Store

# Logs et diagnostics
logs/
*.log
*.db
*.sqlite3
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Build et cache
.cache/
.parcel-cache
.parcel-cache
temp/
tmp/
.next/
out/
.nuxt/
dist/
build/Release
web_modules/
*.tsbuildinfo
.temp
.cache
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port

# Notebooks
.ipynb_checkpoints
*.ipynb
